#hb-footer {
    width: 100%;
    background: #14911c;
}

#hb-bottom {
    width: 1600px;
    height: 50px;
    margin: 0 auto;
}


#hb-bottom>div {
    color: white;
    height: 50px;
    float: left;
    display: inline;
    text-align: center;
}

#hb-bottom div span {
    font-size: 20px;
    line-height: 45px;
    float: left;
}

#hb-bottom div img {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 30px;
    width: 30px;
}

#hb-bottom div:nth-of-type(1) {
    margin-left: 80px;
    width: 500px;
}

#hb-bottom div:nth-of-type(2) {
    width: 300px;
}

#hb-bottom div:nth-of-type(3) {
    width: 720px;
}
