 #hb-header {
     width: 100%;
 }

 #hb-top {
     width: auto;
     height: 51px;
     margin: 0 auto;
     background: url(../images/hb-top.png);
 }

 #hb-top img,
 #hb-top span {
     cursor: pointer;
 }

 #hb-top-main {
     margin: 0 auto;
     width: 1600px;
     height: 51px;
 }

 #hb-top-main div {
     height: 51px;
     float: left;
     font-weight: bold;
     line-height: 51px;
 }


 #hb-top-main>.hb-phone,
 #hb-top-main>.hb-email,
 #hb-top-main>.hb-search,
 #hb-top-main>.hb-rmb {
     padding-left: 40px;
 }

 #hb-top-main>.hb-rmb>img {
     float: left;
     margin-top: 4px;
     width: 34px;
     height: 34px;
 }


 #hb-top-main .hb-logOn {
     float: right;
     padding-right: 40px;
 }

 #hb-top-main>.hb-phone>img,
 #hb-top-main>.hb-email>img,
 #hb-top-main>.hb-search>img,
 #hb-top-main>.hb-logOn>img {
     width: 20px;
     height: 20px;
 }

 #hb-top span {
     font-size: 20px;
     color: white;
 }

 .hb-search .search {
     height: 22px;
     width: 300px;
     border: none;
     outline: none;
 }

 .hb-search .search-submit {
     width: 22px;
     height: 22px;
     border: none;
     background: white;
     background-image: url(../images/hb-search.png);
     background-size: 100% 100%;
     cursor: pointer;
 }

 .hb-search .search-submit:hover {
     background: #a5f87f;
     background-image: url(../images/hb-search_active.png);
     background-size: 100% 100%;
 }

 /*清除safari浏览器下的 search 叉号 */
 /* input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
} */

 /*清除IE下的 search 叉号 */
 /* input[type=search]::-ms-clear {
    display: none;
} */

 #hb-nav {
     width: 1600px;
     height: 52px;
     background: white;
     margin: 0 auto;
 }

 #hb-nav-main {
     width: 1600px;
     height: 52px;
     position: absolute;
 }

 #hb-navs {
     position: relative;
     width: 644px;
     z-index: 3;
     float: left;
     right: 0;
 }

 #hb-nav .hb-nav-logo {
     height: 40px;
     float: left;
     cursor: pointer;
     width: 700px;
     padding: 6px 0;
 }

 #hb-nav .hb-nav-logo img {
     width: 128px;
     height: 40px;
     margin-left: 286px;
 }

 /* #hb-nav .your-favorite-image {
     object-fit: cover;
     font-family: 'object-fit: cover';
 } */

 /* 
    color: #ffffff;
    background: #B7DB7D;
    background: #14911c;
     */
 #hb-navs span {
     width: 92px;
     display: block;
     float: left;
     line-height: 52px;
     cursor: pointer;
     text-align: center;
     font-weight: bold;
     font-size: 20px;
 }

 #hb-navs span:hover {
     color: #ffffff;
     background: #B7DB7D;
     opacity: 0.7;
     z-index: 3;
 }

 /* #hb-navs .hb-part {
     width: 316px;
     height: auto;
     background: #B7DB7D;
     color: white;
     display: none;
 } */

 /* #hb-navs span:hover>.hb-part {
     display: block;
 } */

 /* #hb-navs .hb-part span {
     font-size: 14px;
     background: #B7DB7D;
 } */

 /* #hb-navs .hb-part span:hover {

     background: #14911c;

 } */

 /* #hb-navs .hb-part span:hover>div:hover {
     background: black;
 } */


 /* #hb-navs .hb-part span div {
     font-size: 12px;
 } */